{
  debug
}
:80 {
   reverse_proxy /coder/* 127.0.0.1:3000 {
    header_up Upgrade {http.upgrade}
    header_up Connection {http.upgrade}
  }

  route /novnc {
    redir /novnc/vnc.html?path=novnc/websockify 301
  }

  route /novnc/* {
    uri strip_prefix /novnc
    reverse_proxy 127.0.0.1:6081 {
      header_up Upgrade {http.upgrade}
      header_up Connection {http.upgrade}
    }
  }

  

  # handle_path /novnc/websockify* {
  #   reverse_proxy /novnc/websockify/* 127.0.0.1:6082 {
  #     header_up Upgrade {http.upgrade}
  #     header_up Connection {http.upgrade}
  #   }
  #   rewrite * {path}
  # }

  # handle_path /novnc-bot/* {
  #   reverse_proxy 127.0.0.1:6082 {
  #     header_up Upgrade {http.upgrade}
  #     header_up Connection {http.upgrade}
  #   }
  #   rewrite * /{path}?path=novnc/websockify/
  #   redirect
  # }
}
